/target
/.idea
/atomikos
/statistics
/logs

transaction-logs

*.xml.bak
*rebel.xml
rebel-*.xml
*.classpath
*.settings
*.project
*.iml
*.vscode/
.DS_Store
/.DS_Store
hs_err_pid*
ehcore.log*
cscope.*
tags

pom.properties
build.sh
gen

core-server.*log
core-server-rest.*log

/bin/

